@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.center{
  display: flex;
  justify-content: center;
  /* align-items: center;
  height: 100vh; */
}